<h1>welcome to the graphing page</h1>

<script src="https://www.desmos.com/api/v1.5/calculator.js?apiKey=dcb31709b452b1cf9dc26972add0fda6"></script>

<div id="calculator" style="width: 600px; height: 400px;"></div>

<!--there are 3 graphs here. to start, we should make a button just for displacement which will update the graphs to show what the velocity and the acceleration should be. 
    Need to research how to make the graphs update without refreshing the page  -->

<!-- Displacement -->
<script>
    var elt = document.getElementById('calculator');
    var calculator = Desmos.GraphingCalculator(elt);
    calculator.setExpression({ id: 'graph1', latex: '' });
</script>

<!-- Velocity -->
<script>
    var elt = document.getElementById('calculator');
    var calculator = Desmos.GraphingCalculator(elt);
    calculator.setExpression({ id: 'graph1', latex: '' });
</script>

<!-- Acceleration -->
<script>
    var elt = document.getElementById('calculator');
    var calculator = Desmos.GraphingCalculator(elt);
    calculator.setExpression({ id: 'graph1', latex: '' });
</script>