<h1>welcome to the graphing page</h1>
<h2>Hello, your displacement equation was {{ your_equation }}, your velocity equation was {{ velocity}}, and your acceleration equation was {{ acceleration}}.</h2>







<h1>Equation intake</h1>
<form action= "" method="POST">
    {{ form }}

    <!-- I just need to make the url of the form action redirect to velocity/graph/(the equation that the user inputs)-->
    <input type="submit" value="OK">
</form>






<script src="https://www.desmos.com/api/v1.5/calculator.js?apiKey=dcb31709b452b1cf9dc26972add0fda6"></script>

<div id="calculator" style="width: 600px; height: 400px;"></div>

<!--there are 3 graphs here. to start, we should make a button just for displacement
     which will update the graphs to show what the velocity and the acceleration should be.   -->

<!-- Displacement -->



<script>
    
    var elt = document.getElementById('calculator');
    var calculator = Desmos.GraphingCalculator(elt);
    calculator.setExpression({ id: 'graph1', latex: "{{ your_equation}}", });
</script>


<!--velocity = calculations.diff(displacement)-->
<!-- Velocity -->
<script>
    var elt = document.getElementById('calculator');
    var calculator = Desmos.GraphingCalculator(elt);
    calculator.setExpression({ id: 'graph1', latex: "{{ velocity }}" });
</script>

<!--acceleration = calculations.doubleDiff(displacement)-->
<!-- Acceleration -->
<script>
    var elt = document.getElementById('calculator');
    var calculator = Desmos.GraphingCalculator(elt);
    calculator.setExpression({ id: 'graph1', latex: "{{ acceleration }}" });
</script>