<h1>Welcome to the graphing page, please place operators inbetween all numbers and variables for the smoothest experience</h1>
<h2>Your displacement equation is {{ displacement }}, your velocity equation is {{ velocity }}, and your acceleration equation is {{ acceleration}}.</h2>







<h2>Equation intake</h2>
<form action= "" method="POST">
    {{ form }}

    <!-- I just need to make the url of the form action redirect to velocity/graph/(the equation that the user inputs)-->
    <input type="submit" value="OK">
</form>






<script src="https://www.desmos.com/api/v1.5/calculator.js?apiKey=dcb31709b452b1cf9dc26972add0fda6"></script>

<div id="calculator" style="width: 600px; height: 400px;"></div>

<!--there are 3 graphs here. to start, we should make a button just for displacement
     which will update the graphs to show what the velocity and the acceleration should be.   -->

<!-- Displacement -->

<br>
<p>Displacement graph</p>
<script>
    
    var elt = document.getElementById('calculator');
    var calculator = Desmos.GraphingCalculator(elt);
    calculator.setExpression({ id: 'graph1', latex: "{{ displacement }}", });
</script>


<!--velocity = calculations.diff(displacement)-->
<!-- Velocity -->
<br>
<p>Velocity graph</p>
<script>
    var elt = document.getElementById('calculator');
    var calculator = Desmos.GraphingCalculator(elt);
    calculator.setExpression({ id: 'graph1', latex: "{{ velocity }}" });
</script>

<!--acceleration = calculations.doubleDiff(displacement)-->
<!-- Acceleration -->
<br>
<p>Acceleration graph</p>
<script>
    var elt = document.getElementById('calculator');
    var calculator = Desmos.GraphingCalculator(elt);
    calculator.setExpression({ id: 'graph1', latex: "{{ acceleration }}" });
</script>